[Unit]
Description=Nexus Repository Manager
After=network.target

[Service]
Type=forking
User={{ nexus_user }}
Group={{ nexus_user }}
ExecStart={{ nexus_home }}/nexus/bin/nexus start
ExecStop={{ nexus_home }}/nexus/bin/nexus stop
Restart=on-abort
LimitNOFILE=65536
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target